@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Tenor+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Antonio', sans-serif;
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Tenor Sans', sans-serif;
  overflow-x: hidden;
}


Nav {
  grid-area: header
}

.title {
  grid-area: title
}

.section1 {
  grid-area: main;
}

.section2 {
  grid-area: aside;
}

.organization {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 3vw;
}

body {
  background: url(./components/assets/page1ofi.jpeg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.Image1 {
  max-width: 50vw;
  max-height: 80vh;
  transition: 0.5s;
}

.Image1:hover {
  opacity: 0.5;
  cursor: pointer;
}